<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userInfoMapper">	

   <resultMap type="Userinfo" id="userinfoMap">
		<id property="sid" column="sid"/>   
		<result property="userAccount" column="user_account"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="type" column="type"/>
		<result property="createTime" column="create_time"/>
		<result property="lastLoginTime" column="last_login_time"/>
	</resultMap>
	
	<sql id="base_column">
	    sid,user_account,password,email,type,create_time,last_login_time
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="int" resultMap="userinfoMap">
		select 
		<include refid="base_column" />
		from t_user_info where sid = #{sid}
	</select>
	
	<select id="selectByAccount" parameterType="String" resultMap="userinfoMap">
		select 
		<include refid="base_column" />
		from t_user_info where user_account = #{account}
	</select>
	
	<insert id="insert" parameterType="Userinfo">
	   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="sid">  
          SELECT LAST_INSERT_ID() AS sid    
       </selectKey>
		insert into t_user_info (sid, user_account,password,email,type,create_time,last_login_time) values (#{sid},#{userAccount},#{password},#{email},#{type},#{createTime},#{lastLoginTime})
	</insert>
	
	<update id="update" parameterType="Userinfo">
		update t_user_info 
		<set>
			<if test="userAccount != null">
				user_account = #{userAccount},
			</if>
			<if test="password != null">
			    password = #{password},
			</if>
			<if test="email != null">
			    email = #{email},
			</if>
			<if test="type != null">
			    type = #{type}
			</if>
		</set>
		where sid = #{sid}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from t_user_info where sid = #{sid}
	</delete>
	
</mapper>