body{ margin:0; padding:0; font-size:12px; }
body.login{min-width:890px;}
ul,li,p,dl,dt,dd{ list-style:none;margin:0; padding:0;}
.fl{float:left;}
.fr{float:right;}
a,a:hover{ color:#1f1513; text-decoration:none;}
img{ border:0;}
input[type=text],input[type=password]{ border:1px solid #d2d2d2;_vertical-align: middle; padding:4px;height:24px; line-height:24px;margin:0;width:200px;}
input.long_ipt{width:376px; }
textarea{border:1px solid #d2d2d2; width:380px; height:95px;-webkit-user-select: text;}
select{border:1px solid #d2d2d2;padding:4px;_vertical-align: middle; margin:0; }
input[type=button]{background:#d9080d; height:40px; line-height:40px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer;  border:0; margin:0 10px 0 0; padding:0 20px;}
th{ padding:5px 0; font-weight:normal; text-align:right; min-width:90px;}
td{ padding:5px 0;}

.mg_r{ margin-right:10px;}
a.link_blue{ color:#3298c3;}
.clearfix:after {content:".";display:block;	height:0; clear:both; visibility:hidden;}
*html .clearfix {height:1%;}
*+html .clearfix {height:1%;}


/*公共颜色*/
.c_red{ color:red;}
.c_orange{ color:#f6ab00;}
.c_green{ color:#009900;}
span.c_red{ padding:0 15px 0 10px;}

/*分页*/
.page_wrap {margin: 20px 0; color:#666; height:25px; line-height:25px;}
.paginator {float: right;height: 25px;overflow: hidden;}
.paginator a {color: #999;}
.paginator a:hover {color: #cc0000;}
.paginator a, .paginator span {float: left;height: 23px;margin: 0 3px;text-align: center;white-space: nowrap;vertical-align: middle;line-height: 23px;background: #fff;padding: 0 8px;}
.paginator .page-prev, .paginator a, .paginator .page-next {border: 1px solid #ccc;}
.paginator .page-start, .paginator .page-end{border: 1px solid #d9d9d9;color: #d9d9d9;}
.paginator .page-this {background-color: #e9e9e9;border: 1px solid #d9d9d9;padding: 0 8px;font-weight:bolder;}
.paginator b{ float:left; font-weight:normal; margin-left:5px;}
.paginator input[type=text]{ font-size:12px;padding:2px;height:17px; line-height:17px; width:20px; margin:0 5px;}
.paginator input[type=button]{ font-size:12px;padding:0px 10px;height:22px; line-height:22px; margin-left:5px; margin-right:0; font-weight:normal;}

/*内容管理操作*/
.top{ height:80px; background: url(images/top_bg.png) no-repeat #c70d0f; color:#fff;position:fixed; top:0; left:0; width:100%; z-index:100;}

.FrameMain{ padding:100px 20px 20px 20px; line-height:20px;}
.main_title,.pop_title{border-bottom:1px #e0e0e0 solid; height:38px; line-height:38px; font-size:16px; position:relative;}

.main_title b{ display:block; height:37px;border-bottom:3px #cf0a0e solid; position:absolute; left:0; top:0; padding:0 10px}
.main_tt_right a{ display:block; height:28px; line-height:28px; margin-left:10px; text-align:center; float:left; color:#fff; padding:0 20px; font-weight:bold;background:#d9080d;}

.main_list table,.main_table table,.border_table{border: 1px #dfdfdf solid;border-collapse: collapse;}
.main_list th{ border-bottom:1px #dfdfdf solid; font-size:14px; background:#ecedec;padding:5px; text-align:center; height:27px; }
.main_list td{border-bottom:1px #dfdfdf solid; background:#fff;padding:5px;text-align:center;height:27px; color:#666; }
.main_list td a,.main_table td a,.border_table a{ color:#3298c3;}
.main_list td a:hover,.main_table td a:hover,.border_table a:hover{ color:#3298c3; text-decoration:underline;}
.main_list .list_bg td { background:#fbfbfb;}
.main_list .list_bg:hover td { background:#fbfbfb;}
.main_list .font_l{ text-align:left;}

.main_list,.main_form,.main_table,.main_empower{ padding-top:10px;}

.main_table th, .main_form .border_table th{ border:1px #dfdfdf solid; font-size:14px; background:#ecedec;padding:5px; text-align:center; height:27px; }
.main_table td,.border_table td{border:1px #dfdfdf solid; background:#fff;padding:5px;text-align:center;height:27px; color:#666666; }
label{ vertical-align:top;}
.main_table table{ margin-bottom:10px;}

.main_search{ padding:20px 10px 0 10px;border-top:0;}
.main_search img{vertical-align: middle;}
.main_search p{ line-height:26px; padding-bottom:10px; }
.main_search p a{ color:#3298c3;}

.main_search input[type=text]{ height:18px;line-height:18px; width:120px;}
.main_search input[type=button]{font-size:12px;padding:0px 10px;height:28px; line-height:28px; font-weight:normal;}

.main_form { margin-top:10px;}
.main_form table th{ text-align:right; font-weight:normal; color:#666;}
.main_form table td{ padding:10px 0; }
.main_form table td span{ padding-left:10px;}

.main_info_title{ background:#efefef; height:40px; line-height:40px; padding:0 10px; margin:20px; font-weight:bold;}
.main_infomation{ padding:0 30px;}
.main_infomation .main_search{ padding-top:0;}